@media screen and (max-width: 1300px){
    .center{
        width: 90%;
    }

    .text_left, .text_right {
        float: none;

    }
    
    footer .footer_logo{
        float: none;
    }

    footer .legal_block {
        float: left;
        margin-left: 98px;
    }

    footer .legal_block,
    footer .services_block,
    footer .research_block {
        margin-top: 20px;
    }

    footer .research_block {
        margin-left: 0;
    }

}

@media screen and (max-width: 1024px) {
    h1{
        width: 100%;
    }
    .text_left, .text_right {
        width: 100%;
    }

    footer .social_links .social_left{
        float: none;
        text-align: center;
    }
    footer .social_links .social_left a:last-child{
        margin-right: 0;
    }
    footer .social_links .social_right {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    footer .social_links .social_right a:first-child{
        margin-left: 0;
    }

    footer .legal_block {
        clear:both;
        margin-left: 0;
    }

}

@media screen and (max-width: 768px) {
    h1{
        font-size: 72px;
        padding-top: 100px;
        margin-bottom: 100px;
    }

    footer .social_links .social_left,
    footer .social_links .social_right{
        text-align: left;
    }

    footer .social_links .social_left a,
    footer .social_links .social_right a {
        display: inline-block;
        margin-bottom: 20px;
    }

    footer .social_links {
        padding-top: 100px;
    }
    footer {
        padding-top: 60px;
    }

}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 38px;
        padding-top: 60px;
        margin-bottom: 60px;
    }
    .burger, .logo {
        margin-top: 20px;
    }
    .text_right p{
        font-size: 28px;
    }
    .sub_title {
        padding-top: 60px;
    }
} 


/*Section 4*/

@media screen and (max-width: 1300px) {

  
  
    .right_side, .left_side {
        float: none;
        display: inline-block;
        margin-left: 60px;
    }

    .container4 center {
        align-items:center;
    }

  
    

}

@media screen and (max-width: 1600px) {
    .container2 img {  
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
    .wrapper {
        max-width: 100%;
        width: 100%;  
        margin: 0 auto;
    }
}




@media screen and (max-width: 1024px) {
    .card img {
        width: 307px;
        height: 180px;
    
    }
    .card p {
        width: 320px;  
        color: #101010;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 153.7%;
    }
    .card hr{
        width: 24px;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 9px;
        background-color: #101010;
        border: 0;
    }
    .container4 {
        display: inline-block;  
        margin-bottom: 61px;
        padding-top: 40px;
        
    }
}


@media screen and (max-width: 620px) {
    .container4{
        margin: 0;
        border: 0;
    }
}
@media screen and (max-width: 425px) 